@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color:  #000;
  color: #f1f1f1;
}
/* text jump effect */
@keyframes jumpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-jump {
  animation: jumpIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* jump from side */
@keyframes sideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.side-jump {
  animation: sideIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}